<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>最近添加</ion-title>
        <ion-buttons slot="end" (click)="upload()">
            <ion-button>
                上传
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content CLASS="bianji">
    <div class='beizhu'>
        <ion-textarea autoGrow="true" placeholder="备注信息..." [(ngModel)]="Remark"></ion-textarea>
    </div>
    <ion-item lines="none">
        <ion-label>单据类型</ion-label>
        <ion-select [(ngModel)]="Cate" [value]="Cate" okText="确定" cancelText="取消" (ionChange)="onselet()">
            <ion-select-option *ngFor="let item of allCate" [value]="item.Cate">{{ item.Cate }}</ion-select-option>
            <!--      <ion-select-option value="深圳月结">深圳月结</ion-select-option>-->
            <!--      <ion-select-option value="德发月结">德发月结</ion-select-option>-->
            <!--      <ion-select-option value="汕头月结">汕头月结</ion-select-option>-->
            <!--      <ion-select-option value="深圳现金">深圳现金</ion-select-option>-->
            <!--      <ion-select-option value="深圳打款">深圳打款</ion-select-option>-->
        </ion-select>
    </ion-item>
    <ion-row class="upfile">
      <ion-col size="4">
        <div class="list ion-text-center ion-float-left" style="background-color: #F1F2F6;border: 1px solid #999;" (click)="takePicture()">
          <img src="assets/zhaopian.png" style="margin-top: 32px;">
        </div>
      </ion-col>
        <ion-col size="4" *ngFor="let item of Imgs;let i=index;">
            <div class="list ion-text-center ion-float-left">
                <div style="height: 100px;overflow: hidden">
                    <ion-img [src]="item"></ion-img>
                    <ion-icon name="close-circle-outline" (click)="dele(i)"></ion-icon>
                </div>

            </div>
        </ion-col>
    </ion-row>
<!--    <div class="upfile ion-padding-top ion-padding">-->
<!--        <div class="list ion-text-center ion-float-left" *ngFor="let item of Imgs;let i=index;">-->
<!--            <ion-img *ngIf="!isImgs" [src]="'http://220.231.155.34:8053/m_180x135/' + item + '?' + time"-->
<!--                     (ionError)="imgError(i)"></ion-img>-->
<!--            <ion-img *ngIf="isImgs" [src]="item"></ion-img>-->
<!--            <ion-icon name="close-circle-outline" (click)="dele(i)"></ion-icon>-->
<!--        </div>-->
<!--        <div class="list ion-text-center ion-float-left" style="background-color: #F1F2F6" (click)="takePicture()">-->
<!--            <img src="assets/zhaopian.png" style="margin-top: 32px;">-->
<!--        </div>-->
<!--    </div>-->
</ion-content>
<!--<ion-footer>-->
<!--  <ion-toolbar>-->
<!--    <ion-button color="medium" slot="end" *ngIf="!isuplod">确定</ion-button>-->
<!--    <ion-button slot="end" *ngIf="isuplod">确定 ({{list}})</ion-button>-->
<!--  </ion-toolbar>-->
<!--</ion-footer>-->
